.detail-main {
  max-width: 1200px;
  min-width: 400px;
  padding: 0px 10vw 0px 10vw;
  padding-top: 60px;
}
.detail-wrapper {
  padding: 0px 10px 0px 10px;
  width: 100%;
  background-color: white;
  padding-bottom: 60px;
}
.detail-photo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: hidden;
  gap: 5px;
  height: 30vh;
}
.detail-photo img {
  width: 100%;
  height: 30vh;
  background-image: url("https://source.unsplash.com/640x400/?coffee,cafe");
  /*background-image: url("https://coffee.alexflipnote.dev/random");*/
  background-position: center;
  background-size: cover;
}
.detail-info {
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

/*detail header (제목,평점,리뷰 수)*/

.detail-info__header {
  width: 100%;
  display: flex;
  padding: 30px 00px 30px 0px;
  font-size: 27px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-info__header h2 {
  font-weight: 500;
}
.detail-info__header > div {
  display: flex;
  align-items: center;
}
.cafe-rate__sub {
  font-size: 13px;
  margin-left: 15px;
  position: relative;
  bottom: -3px;
  color: rgba(0, 0, 0, 0.7);
}
.cafe-rate {
  color: #5185f7;
  margin-left: 7px;
}
.detail-info__header div > div {
  color: rgb(76, 76, 76);
  font-size: 14px;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .detail-info__header {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .detail-info__header > div {
    margin-top: 10px;
  }
  .cafe-rate__sub {
    display: none;
  }
}

/* detail description ( 카페 정보 ) */

.detail-info__description {
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}
.detail-table {
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}
.detail-tr {
  width: 100%;
  margin-bottom: 15px;
  font-size: 15px;
  display: flex;
}
.detail-tr a {
  text-decoration: underline;
  color: black;
}
.detail-th {
  color: #959595;
  width: 20%;
  min-width: 120px;
}
.detail-td {
  color: rgba(0, 0, 0, 0.8);
}
.detail-tr a span {
  color: black;
}
.detail-menu {
  width: 80%;
}
.detail-menu div {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.detail-menu div:first-child {
  padding-top: 0;
}
.detail-menu div:last-child {
  border: none;
}

@media screen and (max-width: 600px) {
  .detail-table {
    min-width: 300px;
  }
}

/* detail-info 카페 소개 */
.detail-cafe__info {
  width: 100%;
  padding: 30px 0px 30px 0px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-cafe__info-comment {
  display: flex;
  width: 100%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.detail-cafe__info-comment span:first-child {
  min-width: 120px;
  color: #959595;
}
.detail-cafe__info-comment span:last-child {
  width: 80%;
  display: block;
}

/* detail-reviews */
.detail-reviews {
  padding: 0px 10px 30px 10px;
}
.detail-reviews__header {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  padding: 30px 0px 10px 0px;
}
.detail-reviews__header span {
  color: rgba(0, 0, 0, 0.5);
}
.detail-reviews__container {
  width: 100%;
}
.detail-reviews__container-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 10px 30px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  min-height: 110px;
  transition: background-color, 0.3s;
}
.detail-reviews__container-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.detail-reviews__container-item div:first-child {
  min-width: 120px;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -10px;
}

.detail-reviews__container-item div:first-child img {
  width: 60px;
  height: 60px;
  box-shadow: 1px 1px 1px 1px rgba(5, 67, 252, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}
.review-name {
  margin-top: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.container-item-review {
  display: flex;
  flex-direction: column;
}
.review-createdAt {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.review-comment {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.4;
}
.review-fn {
  display: flex;
  align-items: center;
}
.review-rate i {
  font-size: 13px;
}
.review-delete {
  background-color: inherit;
  border: none;
  position: relative;
  bottom: -3px;
  margin-left: 10px;
  color: rgb(253, 66, 66);
  cursor: pointer;
  padding: 7px;
  z-index: 3;
  border-radius: 12px;
  transition: background-color, 0.3s;
}
.review-delete:hover {
  background-color: rgb(253, 66, 66);
  color: white;
}

/* review form */
.detail-review-form {
  padding-top: 25px;
}
.review-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-form h2 {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
}
.review-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  outline: none;
}
.review-form textarea:focus {
  border: 2px solid #5185f7;
}
.review-form__button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #5185f7;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  cursor: pointer;
  transition: background-color, 0.3s;
}
.review-form__button:hover {
  background-color: #406ed2;
}
.review-form h2 {
  margin-bottom: 15px;
}
.review-form__rate {
  margin-bottom: 25px;
}
.review-form__rate i {
  cursor: pointer;
  transition: color 0.2s;
}
.review-form__rate button {
  background-color: inherit;
  color: gray;
  font-size: 25px;
  border: none;
}
.blue {
  color: #5185f7;
}
.gray {
  color: gray;
}

/* map */
.map-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.map-text {
  border-radius: 10px;
  background-color: #5185f7;
  font-size: 13px;
  font-weight: 500;
  color: white;
}
.map-text__wrapper {
  border: none;
  display: none;
}

/* util */
.none {
  display: none;
}

@media screen and (max-width: 950px) {
  .detail-info__description {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}
@media screen and (max-width: 650px) {
  .detail-info__description {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
  .map-box {
    display: none;
  }
}
