header {
  width: 100%;
}
header nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  background-color: white;
  z-index: 1;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  color: black;
  letter-spacing: 2px;
  font-family: "Noto Sans", sans-serif;
}

header nav ul {
  display: flex;
  font-size: 14px;
  align-items: center;
}
header nav ul li {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
header nav ul li:hover {
  color: black;
  cursor: pointer;
}
