<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="widspan class="detail-th=device-widspan class="detail-th", initial-scale="1.0" />
    <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}' />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <title></title>
    <script>
    </script>
  </head>
  <body>
    <header>
      <nav class="detail-nav shadow">
        <a href="/"><h2 class="nav-logo">CAFFE O TTE</h2></a>
        <ul>
          <a href="/login" class="login"><li>로그인</li></a>
          <a href="/join" class="join"><li>회원가입</li></a>
          <li class="logout none">로그아웃</li>
        </ul>
      </nav>
    </header>
    <main class="detail-main">
      <div class="detail-wrapper">
        <section class="detail-photo">
          <img class="cafe-image">
          <img src='https://coffee.alexflipnote.dev/random'>
          <img src='https://coffee.alexflipnote.dev/random'>
        </section>
        <section class="detail-info">
          <div class="detail-info__header">
            <h2 class="cafe-title"></h2>
            <div>
              <span class="cafe-rate__sub">평점</span>
              <span class="cafe-rate"></span>
              <div>
                <i class="far fa-comment-alt"></i>
                <span class="review-count"></span>
              </div>
            </div>
            
          </div>
          <div class="detail-info__description">
            <div class="detail-table">
              <div class="detail-tr">
                <span class="detail-th">주소</span class="detail-th">
                <span class="detail-td detail-address"></span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">전화번호</span class="detail-th">
                <span class="detail-td">02-6014-8617</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">가격대</span class="detail-th">
                <span class="detail-td">만원 미만</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">주차</span class="detail-th">
                <span class="detail-td">주차공간없음</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">영업시간</span class="detail-th">
                <span class="detail-td">15:00 - 21:00</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">휴일</span class="detail-th">
                <span class="detail-td">월, 화, 수, 목</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">웹 사이트</span class="detail-th">
                <a href="#"><span class="detail-td">카페 홈페이지로 가기</span class="detail-td"></a>
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">메뉴</span class="detail-th">
                <span class="detail-td detail-menu">
                  <div>
                    <span>아이스 아메리카노</span>
                    <span>6,000원</span>
                  </div>
                  <div>
                    <span>카페라떼</span>
                    <span>7,000원</span>
                  </div>
                  <div>
                    <span>아인슈페너</span>
                    <span>8,000원</span>
                  </div>
                </span class="detail-td">
              </div class="detail-tr">
            </div>
            <div class="map-box">
              <div id="map"></div>
            </div>
          </div>
          <div class="detail-cafe__info">
            <div class="detail-cafe__info-comment">
              <span>카페소개</span>
              <span class="cafe-intro">** 영업시간 유동적, 업체 문의후 방문권장</span>
            </div>
            <div>
             
            </div>
          </div>
        </section>
        <section class="detail-reviews">
          <div class="detail-reviews__header">리뷰<span class="review-count"></span></div>
          <div class="detail-reviews__container">
          </div>
        </section>
        <section class="detail-review-form">
          <form class="review-form">
            <h2>리뷰 작성하기</h2>
            <div class="review-form__rate">
              <button class="rate-btn" value="1"><i class="fas fa-star"></i></button>
              <button class="rate-btn" value="2"><i class="fas fa-star"></i></button>
              <button class="rate-btn" value="3"><i class="fas fa-star"></i></button>
              <button class="rate-btn" value="4"><i class="fas fa-star"></i></button>
              <button class="rate-btn" value="5"><i class="fas fa-star"></i></button>
            </div>
            <textarea class="review-form__text" cols="50" rows="10" id="comment" name="comment"></textarea>
            <button class="review-form__button">리뷰 작성</button>
          </form>
        </section>
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1b62d299611d0b1a4e1d36062ad2d435&libraries=services"></script>
    <script type="module" src='{{ url_for("static", filename="js/index.js") }}'></script>
  </body>
</html>
