<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="widspan class="detail-th=device-widspan class="detail-th", initial-scale="1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title></title>
    <script></script>
  </head>
  <body>
    <header>
      <nav class="detail-nav shadow">
        <a href="/"><h2 class="nav-logo">CAFFE O TTE</h2></a>
        <ul>
          <a href="/login"><li>로그인</li></a>
          <a href="/join"><li>회원가입</li></a>
          <a href="/profile"><li>프로필</li></a>
          <a href="/logout"><li>로그아웃</li></a>
        </ul>
      </nav>
    </header>
    <main class="detail-main">
      <div class="detail-wrapper">
        <section class="detail-photo">
          <img src='https://coffee.alexflipnote.dev/random'>
          <img src='https://coffee.alexflipnote.dev/random'>
          <img src='https://coffee.alexflipnote.dev/random'>
          <img src='https://coffee.alexflipnote.dev/random'>
        </section>
        <section class="detail-info">
          <div class="detail-info__header">
            <h2>따빠디또 디저트 따빠스바</h2>
            <span>4.7</span>
            <div>
              <i class="far fa-comment-alt"></i>
              <span>32</span>
            </div>
          </div>
          <div class="detail-info__description">
            <div class="detail-table">
              <div class="detail-tr">
                <span class="detail-th">주소</span class="detail-th">
                <span class="detail-td">서울특별시 관악구 행운1길 79 상가 104호</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">전화번호</span class="detail-th">
                <span class="detail-td">02-6014-8617</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">가격대</span class="detail-th">
                <span class="detail-td">만원 미만</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">주차</span class="detail-th">
                <span class="detail-td">주차공간없음</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">영업시간</span class="detail-th">
                <span class="detail-td">15:00 - 21:00</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">휴일</span class="detail-th">
                <span class="detail-td">월, 화, 수, 목</span class="detail-td">
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">웹 사이트</span class="detail-th">
                <a href="#"><span class="detail-td">식당 홈페이지로 가기</span class="detail-td"></a>
              </div class="detail-tr">
              <div class="detail-tr">
                <span class="detail-th">메뉴</span class="detail-th">
                <span class="detail-td detail-menu">
                  <div>
                    <span>두가지맛</span>
                    <span>6,000원</span>
                  </div>
                  <div>
                    <span>세가지맛</span>
                    <span>19,000원</span>
                  </div>
                  <div>
                    <span>여섯가지맛</span>
                    <span>35,000원</span>
                  </div>
                </span class="detail-td">
              </div class="detail-tr">
            </div>
            <div></div>
          </div>
          <div class="detail-cafe__info">
            <div class="detail-cafe__info-comment">
              <span>카페소개</span>
              <span>** 영업시간 유동적, 업체 문의후 방문권장</span>
            </div>
            <div></div>
          </div>
        </section>
        <section class="detail-reviews">
          <div class="detail-reviews__header">리뷰<span>(49)</span></div>
          <div class="detail-reviews__container">
            <div class="detail-reviews__container-item">
              <div>
                <img />
              </div>
              <div class="container-item-review">
                <span class="review-createdAt">2022-08-23</span>
                <p class="review-comment">너무 맛있습니다~~~~~~</p>
                <span class="review-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
              </div>
              
            </div>
            <div class="detail-reviews__container-item">
              <div>
                <img />
              </div>
              <div class="container-item-review">
                <span class="review-createdAt">2022-08-22</span>
                <p class="review-comment">매일 오고 싶어요~~</p>
                <span class="review-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
              </div>
              
            </div>
            <div class="detail-reviews__container-item">
              <div>
                <img />
              </div>
              <div class="container-item-review">
                <span class="review-createdAt">2022-08-21</span>
                <p class="review-comment">밥 먹은 직후라 너무 단건 먹기 싫어서 연유 두 스푼 들어가는 걸 한 스푼으로 줄여서 주문했다. 딸기는 6조각, 총 3개 들어가고 중간에는 연한 딸기 요플레 맛이 나는 플랫치노랑 맨 밑은 딸기청 느낌의 베이스가 깔려있음. 생크림도 들어가는데 사진처럼 풍성하게 올라오지는 않음. 내가 단거 싫다고 해서 적게 넣어주신건가.

                  ​
                  
                  딸기 맛을 많이 느끼고 싶다면 충분히 잘 섞어 먹어야 할 듯. 플랫치노 맛이 연한 편이라 딸기청이랑 섞여야 달달할 것 같다. 딸기도 점바점이겠지만 내가 먹은 곳은 아직 셨다. 밑에 음료가 달아서 새콤한거 오히려 좋아 라고 느낄 사람도 있겠지만서도. 가격대비 뛰어난 퀄은 아닌 것 같아서 개인적으로는 한번 먹어본 걸로 만족할 맛인듯.
                  </p>
                <span class="review-rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
              </div>
              
            </div>
          </div>
        </section>
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
